.profile__main {

}

@media screen and (min-width: 768px) {
  .profile__main {
    display: flex;
    max-width: 600px;
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__main {
    max-width: 730px;
    margin-top: 0;
  }
}
