.profile__subtitle {
  width: 70%;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  margin: 14px auto 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .profile__subtitle {
    width: auto;
    margin: 0;
    margin-top: 16px;
    text-align: start;
    font-size: 16px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1024px) {
  .profile__subtitle {

    font-size: 18px;
    
  }
}
